@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat-Black;
    src: url(../fonts/Montserrat/Montserrat-Black.ttf);
}
@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
    font-family: Montserrat-Light;
    src: url(../fonts/Montserrat/Montserrat-Light.ttf);
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Montserrat-Regular;
}
header {
    background: #FBD846;
}
.content1 {
    width: 1142px;
    margin: 0 auto;
    display: flex;
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 10px;
}
.adress1{
    width: 670px;
    text-align: left;
    display: flex;
}
.header-txt {
    color: black;
    margin-left: 4px;
    margin-top: 3px;
}
.phone-num {
    display: flex;
    margin-left: 314px;
}
.num {
    font-family: Montserrat-SemiBold;
    font-size: 16;
    margin-top: 2px;
}
.bg-nav {
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}
.navigation {
    font-family: Montserrat-SemiBold;
    display: flex;
    width: 1142px;
    margin: 0 auto;
    font-size: 14px;
}
.logo {
    margin-top: 18px;
    margin-bottom: 18px;
    height: 68px;
}
.nav-textblock {

    margin-top: 41px;
    margin-bottom: 46px;
}
.nav-text {
    margin-left: 15px;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

.nav-text:hover {
    color: #99CB38;
}
.nav-button {
    width: 195px;
    font-family:  Montserrat-Bold;
    margin-top: 23px;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #FBD846;
    border-radius: 30px;
    height: 50px;
    padding-left: 26px;
    padding-right: 26px;
    background: white;
}
.catalog-tovarov-header {
    width: 1140px;
    margin: 0 auto;
}
.catalog-h2 {
    margin-top: 72.47px;
    font-family: Montserrat-Black;
    font-size: 28px;
    color: #333333;
}
.catalog-p {
    font-family: Montserrat-Regular;
    font-size: 16px;
    color: #000000;
    margin-top: 26px;
}
.block-header {
    display: flex;
}
.sort {
    margin-left: 545px;
    margin-top: 85.47px;
    width: 262px ;
    height: 40px;
    background: #f0f0f0;
    color: #333333;
    font-family: Montserrat-Medium;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    padding: 10px 16px 16px 16px;
}
.etc-button {
    background: linear-gradient(269.89deg, #FBD846 0.07%, #FFE888 99.89%);
    box-shadow: 10px 10px 20px rgba(255, 216, 111, 0.4);
    border-radius: 50px;
    padding: 25px 104px 28px 104px;
    font-family: Montserrat-Bold;
    font-size: 20px;
    color: #333333;
    border: none;
    margin: 59px 350px 59px 390px;
}
.catalog {
    width: 1140px;
    margin: 0 auto;
}
.pop-block1 {
    margin-right: 28px;
    margin-top: 55px;
    width: 360px;
    background: #FFFFFF;
    box-shadow: 5px 5px 10px rgba(51, 51, 51, 0.05);
}
.pop-text {
    text-transform: uppercase;
    font-family: Montserrat-Black;
    font-size: 28px;
    text-align: center;
    color: #333333;
    padding-top: 52px;
}
.pop-bg {
    margin-top: -4px;
    width: 360px;
    background: white;
}
.pop-span {
    font-family: Montserrat-SemiBold;
    width: 301px;
    margin: 0 auto;
}
.pop-name {
    font-size: 16px;
    color: #333333;
    width: 247px;
    padding-top: 24px;
}
.pop-name1 {
    font-size: 16px;
    color: #333333;
    padding-top: 24px;
}
.pop-name:hover {
    color: #99CB38;
}
.pop-old-price {
    font-size: 16px;
    color: #B2B2B2;
    text-decoration: line-through;
    margin-top: 22px;
}
.pop-price {
    font-size: 25px;
    color: #99CB38;
    margin-top: 6px;
    padding-bottom: 32px;
}
.price-add {
    display: flex;
}
.add-button {
    background: url(../img/add-button\ \(no\ hover\).svg);
    width: 40px;
    height: 40px;
    margin-left: 148px;
}
.add-button:hover {
    background: url(../img/add-button\ \(hover\).svg);
    width: 40px;
    height: 40px;
    margin-left: 148px;
}
.pop-blocks1 {
    display: flex;
}
.consultation-block-bg {
    background: #262626;
}
.consultation-block {
    display: flex;
    margin-left: 320px; 
}
.consul-text {
    width: 752px;
    margin-top: 47.38px;
    margin-bottom: 59.64px;
}
.consul-h3 {
    font-family: Montserrat-Bold;
    font-size: 28px;
    color: #ffffff;
    text-transform: uppercase;
}
.consul-h3-c {
    color: #99CB38;
}
.consul-textbox1 {
    border: 1px solid #B0B0B0;
    background: none;
    color: #B0B0B0;
    font-family: Montserrat-Regular;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px 72px 15px 21px;
    margin-top: 30px;
}
.consul-textbox2 {
    border: 1px solid #B0B0B0;
    background: none;
    color: #B0B0B0;
    font-family: Montserrat-Regular;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px 100px 15px 21px;
    margin-left: 30px;
    margin-top: 30px;
}
.consul-textbox3 {
    border: 1px solid #B0B0B0;
    background: none;
    color: #B0B0B0;
    font-family: Montserrat-Regular;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px 475px 75px 21px;
    margin-top: 30px;
}
.consul-button {
    background: linear-gradient(269.89deg, #FBD846 0.07%, #FFE888 99.89%);
    box-shadow: 5px 8px 5px rgba(248, 204, 85, 0.1);
    border-radius: 50px;
    border: none;
    font-family: Montserrat-Bold;
    font-size: 20px;
    color: #333333;
    padding: 16px 51px 24px 42px;
    margin-top: 30px;
}
.button-policy {
    display: flex;
}
.consul-privacy {
    font-family: Montserrat-Regular;
    font-size: 12px;
    color: #B0B0B0;
    text-align: left;
    width: 362px;
    margin-top: 33px;
    margin-left: 30px;
}
.consul-img {
    margin-top: 32.05px;
    margin-bottom: 29.1px;
    margin-left: 42.44px;
}
footer {
    background: #333333;
    color: #ffffff;
    font-family: Montserrat-Regular;
    font-size: 16px;
}
.footer-center {
    width: 1140px;
    display: flex;
    margin: 0 auto;
}
.left-section {
    margin-top: 15px;
    margin-bottom: 44.65px;
    margin-right: 136.95px;
}
.adress {
    width: 235px;
    text-align: left;
    line-height: 20px;
}
.parts {
    margin-top: 27.31px;
    margin-bottom: 23.69px;
}
.parts-h4, .contacts-h4 {
    font-family: Montserrat-SemiBold;
    font-size: 20px;
    color: #818181;
    margin-bottom: 24.57px;
}
.parts-li {
    list-style-type: none;
    margin-top: 30px;
}
.contacts {
    margin-left: 122.95px;
    margin-top: 28.31px;
}
.contacts-info, .mail, .contacts-telephone, .contacts-vk, .contacts-ok {
    display: flex;
}
.social {
    margin-left: 82.37px;
}
.mail-img, .telephone-img, .vk-img, .ok-img {
    margin-right: 11px;
}
.mail, .telephone-text1, .contacts-vk {
    margin-bottom: 17px;
}